*{
    background-image: linear-gradient(to right #10EE67, #FECB00, #F5B842);
}
.App{
    font-size: larger;
    
}
.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}
.fields{
display: flex;
flex-direction: column;
width: 40%;
margin: auto;
}
.butt{
    display: flex;
    width: 20%;
    margin:auto;
    margin-top: 1%;
}
.searching{
    position: absolute;
    top: 40%;
    background-color: red;
}